%html
  %head
    %link{:rel => 'stylesheet', :href => 'c.css', :type => 'text/css', :media => 'screen'}
    
#title Super Reader
%form{:action => '/p', :method => 'POST'}
  %textarea{:name => 'content', :cols => 50, :rows => 10}
  %br/
  %input{:value => 'Submit', :type => :submit}

%ul
  - for entry in entries
    %li== #{entry[:text]} -- #{entry[:referrer]}

%p
  %a{:href => erb(:bm)} Save
